<p>Welcome <%= @user.name %></p>

<p>It is <%= Time.zone.now.asctime %> and the weather is <%= try_print(@user.device.location.weather.desc).downcase %> <img src="<%= begin @wnow.get_image_link end%>"> and <%= try_print(@user.device.location.weather.temp) %>C at <%= @user.device.location.town %>.</p>
<p>Tomorrow is <%= @wtomorrow.text %> <img src="<%= begin @wnow.get_forecast_link(:tomorrow) end%>"> with high of <%= @wtomorrow.high %>C and low of <%= @wtomorrow.low %>C.</p>
<br/>
<% @user.device.sensors.each do |sensor| %>
<p><%= link_to(sensor.longname, sensor_path(sensor)) %> was at <%= if sensor.latestreading then h(sensor.latestreading) else h("-") end %> when measured at <%= if sensor.updated_at.asctime then h(sensor.updated_at.asctime) else h("-") end %></p>
<% end %>