<h1>Editing history</h1>

<% form_for(@history) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.label :temp %><br />
    <%= f.text_field :temp %>
  </p>
  <p>
    <%= f.label :low %><br />
    <%= f.text_field :low %>
  </p>
  <p>
    <%= f.label :high %><br />
    <%= f.text_field :high %>
  </p>
  <p>
    <%= f.label :fday %><br />
    <%= f.date_select :fday %>
  </p>
  <p>
    <%= f.label :yweather %><br />
    <%= f.text_field :yweather %>
  </p>
  <p>
    <%= f.label :weather_id %><br />
    <%= f.text_field :weather_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @history %> |
<%= link_to 'Back', histories_path %>