<h1>My Goals for Saving</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Type</th>
    <th>Compared to</th>
    <th>Duration</th>
    <th>Start</th>
    <th>End</th>
    <th>Completed</th>
    <th>Successful</th>
  </tr>

<% @savingsgoals.each do |savingsgoal| %>
  <tr>
    <td><%=h savingsgoal.amount %></td>
    <td><%=h savingsgoal.stype %></td>
    <td><%=h savingsgoal.period %></td>
    <td><%=h distance_of_time_in_words(savingsgoal.timeend, savingsgoal.timestart) %></td>
    <td><%=h savingsgoal.timestart.to_s %></td>
    <td><%=h savingsgoal.timeend.to_s %></td>
    <td><%=h savingsgoal.completed %></td>
    <td><%=h savingsgoal.successful %></td>
    <td><%= link_to 'Show', savingsgoal %></td>
    <td><%= link_to 'Edit', edit_savingsgoal_path(savingsgoal) %></td>
    <td><%= link_to 'Destroy', savingsgoal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Goal', new_savingsgoal_path %>