<table width="90%" border="0" align="center">
  <tr>
    <td><img src="../../../images/saving-goals-title.png" width="450" height="100"><br /></td>
  </tr>
</table>
<p><b>Amount:</b>
  <%= h @savingsgoal.amount %>
</p>

<p>
  <b>Type:</b>
  <%= h @savingsgoal.stype %>
</p>

<p>
  <b>Compare to:</b>
  <%= h @savingsgoal.period %>
</p>

<p>
  <b>Duration:</b>
  <%= h distance_of_time_in_words(@savingsgoal.timeend, @savingsgoal.timestart) %>
</p>

<p>
  <b>Timestart:</b>
  <%= h @savingsgoal.timestart %>
</p>

<p>
  <b>Timeend:</b>
  <%= h @savingsgoal.timeend %>
</p>

<p>
  <b>Successful:</b>
  <%= h @savingsgoal.successful %>
</p>

<p>
  <b>Completed:</b>
  <%= h @savingsgoal.completed %>
</p>


<%= link_to 'Edit', edit_savingsgoal_path(@savingsgoal) %> |
<%= link_to 'Back', savingsgoals_path %>