<p>
  <b>Sensor Name:</b>
  <%=h @reading.sensor.name %>
</p>

<p>
  <b>Reading Value:</b>
  <%=h @reading.value %>
</p>


<p>
  <b>Measured Time:</b>
  <%=h @reading.time.ctime %>
</p>


<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>