<p>
  <b>Status:</b>
  <%=h @socialmedia.status %>
</p>

<p>
  <b>Facebook:</b>
  <%=h @socialmedia.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%=h @socialmedia.twitter %>
</p>

<p>
  <b>Fbun:</b>
  <%=h @socialmedia.fbun %>
</p>

<p>
  <b>Twitterun:</b>
  <%=h @socialmedia.twitterun %>
</p>


<%= link_to 'Edit', edit_socialmedia_path(@socialmedia) %> |
<%= link_to 'Back', socialmedias_path %>